*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #000000;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
}
p.heading {
	font-size: large;
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Verdana, sans-serif;
}
/*top menu nav bar*/
div.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #19647E;
	top: 0;
	width: 100%;
	height: 7vh;
	position: fixed;
}
div.topnav ul li {
	float: right;
}
div.topnav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 24px;
	text-decoration: none;
}
div.topnav ul li a:hover {
	background-color: #0B0014;
}
div.topnav ul li a.active {
	background-color: #0B0014;
}

/*intro*/

div.intro {
	background-color: rgb(0, 0, 0);
	text-align: center;
	height: 50vh;
	padding: 5%;
	padding-top: 23%;
}
div.intro p.head {
	font-size: 40px;
	line-height: 0px;
	color: #fffff;
}
div.intro p.subhead {
	font-size: 18px;
	color: #D6A2AD;
	line-height: 0px;
	margin-top: 5%;
}

/*projects*/
div.projects {
	background-color: #19647E;
	text-align: center;
	height: 100vh;
	padding: 5%;
}
div.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 15%;
	height: 35%;
	background-color: rgb(0, 0, 0);
	display: inline-table;
}
div.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
div.container {
	background-color: rgb(0, 0, 0);
	padding: 2px 16px;
	display: inline-table;
	font-size: 10px;
	height: 24px;
	text-decoration: none;
	color: rgb(255, 255, 255);
}
img.pro {
	width: 260px;
	height: 260px;
}
button {
	background-color: #D6A2AD;
	border: #D6A2AD;
	height: 30px;
	width: 120px;
}

/*survey form*/
p.heading1{
	text-align: center;
	width: 40%;
}
div.form {
	padding-left: 35%;
	padding-top: 5%;
	padding-bottom: 5%;
}
input.long {
	width: 450px;
	padding: 2px;
}
select.long {
	width: 450px;
	padding: 2px;
}
input[type="submit"] {
	background-color: #D6A2AD;
	border: none;
	width: 456px;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
textarea {
	width: 450px;
	padding: 2px;
}

/*end links*/
div.link {
	text-align: center;
	background-color: #19647E;
	height: 48vh;
	padding-top: 5%;
	margin-bottom: 0%;
}

p.big {
	font-size: 32px;
	line-height: 0px;
	padding-top: 5px;
	color: #ffffff;
	font-weight: bolder;
}
p.small {
	font-size: 14px;
	line-height: 0px;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #D6A2AD;
	font-weight: bold;
}
a.link {
	text-decoration: none;
	color: #ffffff;
	padding-top: 20px;
	padding: 12px;
}

span.fl {
	display: inline;
	margin-left: 5%;
	margin-right: 20%;
	font-size: 14px;
}
span.fr {
	display: inline;
	margin-right: 5%;
	margin-left: 20%;
	font-size: 14px;
}

.row {
	margin: 0;
	padding: 0;
}
.column {
	display: inline-block;
	position: relative;
	background-color: antiquewhite;
	width: 19%;
	padding: 0;
	margin: 0;
}
.card {
	/* width: 33%; */
	height: 50vh;
	background-color: aqua;
	text-align: center;
}
.img1 {
	width: 20vw;
	/* height: 200px; */
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
	.card {
		width: 50vw;
		margin: 10px 25vw;
	}
}
